<footer class="footer">
  <img class="footer__logo" src="/images/common/logo.svg" alt="H-BUILDER" width="79" height="58">

  <nav class="footer__nav">
    <ul class="footer__navList">
      <li class="footer__navItem">
        <a class="footer__navLink" href="/example/index.html">住まいの事例</a>
      </li>

      <li class="footer__navItem">
        <a class="footer__navLink" href="/company/index.html">会社概要</a>
      </li>

      <li class="footer__navItem">
        <a class="footer__navLink" href="/contact/index.html">お問い合わせ</a>
      </li>
    </ul>
  </nav>
</footer>
