<header class="header">
  <img class="header__logo" src="/images/common/logo-box.svg" alt="H-BUILDER" width="93" height="76">

  <button class="header__btn gNavBtn" id="js-gNavBtn" type="button">
    <span class="gNavBtn__bar"></span>

    <span class="u-sr-only">MENU</span>
  </button>

  <nav class="gNav">
    <img class="gNav__logo" src="/images/common/logo.svg" alt="H-BUILDER" width="79" height="58">

    <ul class="gNav__list">
      <li class="gNav__item">
        <a class="gNav__link" href="/example/">お住まいの事例</a>
      </li>

      <li class="gNav__item">
        <a class="gNav__link" href="/company/">会社概要</a>
      </li>

      <li class="gNav__item">
        <a class="gNav__link" href="/contact/">お問い合わせ</a>
      </li>
    </ul>
  </nav>
</header>
