<!DOCTYPE html>
<html lang="ja">

<%- include('components/common/_head.ejs', top) %>

<body class="top">

<%- include('components/common/_header.ejs') %>


<div class="topHero grid-mobile primaryDecor">
  <div class="topHero__content">
    <div class="topHero__contentHead">
      <h1 class="topHero__heading">Earthy Home</h1>

      <p class="topHero__subHeading primaryHeading">自然が身近になる住まい</p>
    </div><!-- /.topHero__contentHead -->

    <p class="topHero__text">人は自然を感じるだけでリラックスできると言われています。だからこそ、暮らしに自然を取り込むことにこだわっています。</p>
  </div><!-- /.topHero__content -->

  <figure class="topHero__figure01">
    <img class="topHero__image01" src="/images/top/hero01.jpg" alt="写真：ソファとテーブルがあるリビング" width="1500" height="1063">
  </figure>

  <figure class="topHero__figure02">
    <img class="topHero__image02" src="/images/top/hero02.jpg" alt="写真：" width="1049" height="1416">
  </figure>
</div><!-- /.topHero -->

<section class="topSection01 primaryDecor">
  <div class="topSection01__inner grid-mobile secondaryDecor">

    <div class="topSection01__content">
      <div class="topSection01__contentHead">
        <div class="topSection01__number primaryNumber">01</div>

        <h2 class="topSection01__heading primaryHeading">ナチュラルに暮らす</h2>
      </div><!-- /.topSection01__contentHead -->

      <div class="topSection01__contentBody">
        <p class="topSection01__text">自然にも、自分にも優しく暮らしたい。それを無理なくサポートしてくれる仕組みがここにあります。</p>

        <a class="topSection01__link moreLink" href="#">More</a>
      </div><!-- /.topSection01__contentBody -->
    </div><!-- /.topSection01__content -->

    <figure class="topSection01__figure01">
      <img class="topSection01__image01" src="/images/top/natural01.jpg" alt="" width="1500" height="1066">
    </figure>

    <figure class="topSection01__figure02">
      <img class="topSection01__image02" src="/images/top/natural02.jpg" alt="" width="1500" height="1065">
    </figure>

  </div><!-- /.topSection01__inner -->
</section>

<section class="topSection02 grid-mobile primaryDecor">
  <div class="topSection02__content">
    <div class="topSection02__contentHead">
      <div class="topSection02__number primaryNumber">02</div>

      <h2 class="topSection02__heading primaryHeading">快適であることの心地良さ</h2>
    </div><!-- /.topSection02__contentHead -->

    <div class="topSection02__contentBody">
      <p class="topSection02__text">朝は爽やかに目覚め、1日の終わりにはゆったりとくつろげる。そんな快適な空間を作り出します。</p>

      <a class="topSection02__link moreLink" href="#">More</a>
    </div><!-- /.topSection__contentBody -->
  </div><!-- /.topSection02__content -->

  <figure class="topSection02__figure01">
    <img class="topSection02__image01" src="/images/top/comfort01.jpg" alt="写真：ベッドがある部屋" width="1580" height="1099">
  </figure>

  <figure class="topSection02__figure02">
    <img class="topSection02__image02" src="/images/top/comfort02.jpg" alt="写真：" width="1500" height="1067">
  </figure>
</section>

<section class="topSection03 grid-mobile primaryDecor">
  <div class="topSection03__content">
    <div class="topSection03__contentHead">
      <div class="topSection03__number primaryNumber">03</div>

      <h2 class="topSection03__heading primaryHeading">日常になるからこそ小さなことも大切にしたい</h2>
    </div><!-- /.topSection03__contentHead -->

    <p class="topSection03__text">住まいの好みやこだわりは人それぞれ。日常になるからこそ、あんなことはもちろん、こんなことにも。細かなところにまでお応えします。</p>
  </div><!-- /.topSection03__content -->

  <ul class="topSection03__list">
    <li class="topSection03__listItem">
      <a class="topSection03__listLink" href="#">
        <figure class="topSection03__listFigure">
          <img class="topSection03__listImage" src="/images/top/list01.jpg" alt="" width="1500" height="1063">
        </figure>

        <h3 class="topSection03__listHeading">限られたスペースにも自然を取り入れていくテクニックのアレコレ</h3>
      </a>
    </li>

    <li class="topSection03__listItem">
      <a class="topSection03__listLink" href="#">
        <figure class="topSection03__listFigure">
          <img class="topSection03__listImage" src="/images/top/list02.jpg" alt="" width="1286" height="1047">
        </figure>

        <h3 class="topSection03__listHeading">おまかせ＆ほったらかしでOKな楽ちんホームキーピングの秘密</h3>
      </a>
    </li>

    <li class="topSection03__listItem">
      <a class="topSection03__listLink" href="#">
        <figure class="topSection03__listFigure">
          <img class="topSection03__listImage" src="/images/top/list03.jpg" alt="" width="1574" height="1036">
        </figure>

        <h3 class="topSection03__listHeading">大切なモノがたくさん増えてもどんと来いな収納スペース</h3>
      </a>
    </li>
  </ul>
</section>

<div class="topCta">
  <div class="primaryBtn">
    <a class="primaryBtn__link" href="#">住まいの事例をもっと見る</a>
  </div><!-- /.primaryBtn -->

  <p class="topCta__text">登録なしでご覧いただけます</p>
</div><!-- /.topCta -->


<%- include('components/common/_footer.ejs') %>

<%- include('components/common/_script') %>

</body>
</html>
